input[type="text"] {
    color: var(--main-font-color);
    background-color: none;
    font-size: 1rem;
    border: none;
    padding: 0.5em 1em;
    transition: all 0.2s;
    font-family: 'Games', sans-serif;
}

input[type="text"]::placeholder {
    font-style: italic;
}

/* click focus outline */
input[type="text"]:focus {
    outline: none;
    background-color: var(--bg-color-3);
}

/* message send button */
button[type="submit"] {
    border: box;
    font-size: 1rem;
    width: 100px;
    padding: 0.25rem;
    background-color: var(--theme-primary);
    color: pink;
    font-family: 'Games', sans-serif;
    border: 2px solid pink;
    box-shadow: 1px 1px 8px pink;
    border-radius: 25px;
}

/* chat list */
.list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
}

ul {
    list-style: none;
    overflow-y: auto;
    padding-top: 2rem;
}

li {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 0.25rem 0.5rem 0.25rem;
    position: relative;
    font-family: 'Comic Sans MS';
    color: pink;
}

li:hover {
    border-top: 1px solid var(--bg-color-3);
    border-bottom: 1px solid var(--bg-color-3);
    background-color: var(--bg-color-2);
}

li span.user {
    font-weight: 600;
    margin-right: 0.5rem;
    color: var(--alt-font-color);
}

li span.time {
    font-size: 0.8rem;
}

li p {
    padding: 0.25rem 0;
    color: var(--alt-font-color);
}

li .reactions {
    margin-top: 0.25rem;
    display: flex;
    align-items: center;
}

li button {
    padding: 0.1rem 0.2rem;
    border-radius: 5px;
    border: 1px solid var(--bg-color-3);
    background-color: var(--bg-color-2);
    margin: 0 0.25rem;
    cursor: pointer;
}

li .actions {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    right: 1rem;
    display: none;
}

li:hover .actions {
    display: block;
}

/* chat list edit */
form.edit-message {
    display: flex;
    flex-direction: column;
}

form.edit-message input[type="text"] {
    margin-top: 0.5rem;
    border: 1px solid transparent;
    background-color: var(--bg-color-3);
}

form.edit-message input[type="text"]:focus {
    border: 1px solid var(--bg-color-2);
}

form.edit-message input[type="submit"] {
    margin-top: 0.5rem;
    width: 100px;
}

/* new message */
form.new-message {
    display: flex;
}

form.new-message input[type="text"] {
    flex: .00001 .1 auto;
}

form.new-message input[type="text"]:focus {
    padding: 1rem;
}