.Game {
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.Game-Display{
    background-color: #526D82;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border: 2px solid black;
    box-shadow: 1px 1px 8px black;
    border-radius: 25px;
    margin: 30px; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    background-color: white;
    width: 3vw;
    height: 7vh;
    padding: 5px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 1px 1px 8px black;
    border-radius: 5px;
    text-align: center;
}


.Game-Keys{
    background-color:#9DB2BF;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border: 2px solid black;
    box-shadow: 1px 1px 8px black;
    border-radius: 25px;
    margin: 30px; 
    flex-wrap: wrap;
}

.Game-Form{
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.KeyCard {
    width: 3vw;
    height: 7vh
}

.app {
    background-color: pink;
}

.Dropdown-Button{
    background-color: #9DB2BF; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 500ms;
}

.Dropdown-Button:hover{
    background-color: #474f53;
}
#title {
    color: green;
    font-size: 65px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Games', sans-serif;
    flex-grow: 1;
}

.navbar {
    width: 100%;
    display: flex;
    gap: 1rem;
    height: 4rem;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 8px black;
    align-items: center;
    justify-content: center;
    background-color: #27374D;
    position: relative;
    top: 0;
    font-family: 'Games', sans-serif;
    
}

#moon {
    height: 2vw;
    width: 2vw;
}

.Dropdown-Menu {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#526D82;
    width: 10vw;
    height: 10vw;
    float: right;
    justify-content: space-evenly;
    /* transition-duration: 0.5s; */
}

.link {
    margin: 10px;
    transition-duration: 1s;
}
.link:hover {
    background-color: rgb(75, 75, 124);
}
/* a{
    padding: 10px;
    transition-duration:1s
}
a:hover{
    background-color: green
} */

#leaderboard-container {
    display: grid;
    /* grid-template-rows: 2fr 1fr; */
    height: 100vh;
    text-align: center;
    position: relative;
    background-color: blueviolet;
    font-family: 'Games', sans-serif;
}

#rankings-list-container {
    overflow: scroll;
    scroll-behavior: smooth;
    max-height: 520px;
    background-color: blueviolet;
    font-family: 'Games', sans-serif;
}

#rankings-list{
    overflow: scroll;
    scroll-behavior: smooth;
    max-height: 520px;
    background-color: blueviolet;
    font-family: 'Games', sans-serif;
}

.Signup{
    background-color: #9DB2BF;
    width: 70vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    box-shadow: 1px 1px 8px black;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-family: 'Games', sans-serif;
}

.Signup-Form{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login {
    font-family: 'Games', sans-serif;
    font-size: 50px;
    color:black;
}

.label {
    display: block;
    font-size: larger;
    color: black;
    padding: 5px;
    font-family: 'Games', sans-serif;
}

.input {
    font-size: larger;
    padding: 5px;
    margin: 2px;
    font-family: 'Games', sans-serif;
    background-color: #526D82;
}

h1.ui.header {
    text-align: center;
}
div.ui.comments {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: pink;
}

