.Game {
    background-color:antiquewhite;
    justify-content: center;
    align-items: center;
}
.Game-Display{
    background-color: cadetblue;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.Title {
    color: green;
    margin: 0;
    padding: 0;
}

.app {
    background-color: antiquewhite;
}

.navbar {
    width: 100%;
    display: flex;
    gap: 1rem;
    height: 4rem;
    border-bottom: 1px solid rgb(196, 196, 196);
    box-shadow: 1px 1px 8px rgb(196, 196, 196);
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
    top: 0;
}