.stop-watch {
    height: 5vh;
    width: 5vw;
    background-color: #0d0c1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.digits {
    color:pink;
}