.login-form {
    border: 3px solid rgb(203, 192, 192);
    margin: auto;
    width: 35%;
    padding: 50px;
    margin-top: 55px;
    background-color: #f3f3f2;
  }
  
  .basic-form-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    /* width: 25%; */
    text-align: center;
  }
  
  .other-form-content {
    gap: 2rem;
    text-align: center;
    padding-top: 2rem;
  }
  
  .other-form-content p {
    color: red;
    padding-top: 2rem;
  }
  
  input {
    padding-left: 5px;
    height: 25px;
    border-radius: 10px;
  }
  
  .other-form-content button {
    height: 30px;
    border-radius: 10px;
    background-color: rgb(203, 192, 192); 
  }
  
  /* tablet */
  @media all and (max-width: 991px) {
      
  }
  
  /* phone */
  @media all and (max-width: 767px) {
    .login-form {
      width: 75%;
      padding: 20px;
      padding-top: 60px;
      padding-bottom: 60px;
      /* margin-top: 50%; */
    }
  
    .basic-form-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      text-align: center;
  
  }
  
  }
  